h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


.column {
  width: 31.3333333333333%;
  float: left;
  text-align: center;
  padding: 1%;
}

img {
  max-width: 100%;
}

.footer {
  position: fixed;bottom:0;
  width:100%
  color: #FF9966;
  background: #333;
}
